body{
    margin:0;
    padding:0;
}
.box{
    height:100px;
    width:100px;
    padding:10px 0px 30px 50px; 
    border-left:10px solid blue;
    border-top:10px dashed green;
    border-right:10px dotted blue;
    border-bottom:10px solid rgb(255, 157, 0);
    margin:10px;
    border-radius: 50%;
}
.red{
    background-color: rgb(184,11,11);
    color:white;
}