.container{
    width:1000px;
    height: 400px;
    position: relative;
    background-color: rgb(185, 24, 118);
}
.ball{
    height: 80px;
    width: 80px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgb(98, 12, 219);
    position: absolute;
    left:0;
    bottom: 0;
   animation:goX 3s linear infinite,goY 3s ease-out infinite;
   alternate;
}
@keyframes goX{
    from{
        left:0
    }
    to{
        left: 100%;
    }
}
@keyframes goY{
    from{
        bottom:0
    }
    to{
        bottom: 100%;
    }
}