.container{
    height: 100vh;
    border: 3px solid red;
    display: flex;
    justify-content:space-around;
    /*align-items: center;*/
    align-content:top;
    /*gap: 20px;*/
    row-gap: 5px;
    column-gap: 30px;
    flex-direction:row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    font-size:35px;
}
#b5{
    /*order:2;
    flex-grow: 13;*/
}
#b1{
   /* order:1;*/
   
}
#b10{
   /* order:3;*/
}
#b3{
    flex-shrink: 4;
    /*flex-grow: 5;
    align-self:center;*/
}
#b1{
    flex-shrink: 2;
}

.box{
    height:80px;
    width: 80px;
    background-color: blueviolet;
    color: white;
    border: 2px solid black;
}